@media only screen and (max-width:768px){
  /******************/
  /***** GLOBAL *****/
  /******************/
  body {
    padding: 0px;
  }

  /*******************/
  /***** CONTENT *****/
  /*******************/
  #content-container {
    padding: 8px;
  }

  /********************/
  /***** NAV-MINI *****/
  /********************/
  #nav-bar {
    display: none;
  }

  #nav-mini {
    display: initial;
    margin: 8px;

  }

  #nav-mini > button {
    background-color: transparent;
    width: 50px;
    border: none;
    outline: none;
  }

  #nav-mini > button > img {
    width: 100%
  }

  #menu-drawer {
    position: fixed;
    left: -128px;
    transition: 1s;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.8); */
  }

  #menu-drawer > a {
    display: block;
    margin: 18px 18px;
  }

  /****************/
  /***** HOME *****/
  /****************/
  #home {
    margin-top: 80px;
  }

  #home > h1 {
    font-size: 7vw;
  }

  #home-2 > h2:not(span) {
    font-size: 4vw;
  }

  #home-2 > h2 > span {
    font-size: 5vw;
  }
}
