@media only screen and (max-width:768px){
  /******************/
  /***** GLOBAL *****/
  /******************/
  body {
    padding: 0px;
  }

  /**********************/
  /***** BACKGROUND *****/
  /**********************/
  #background-img-container > img {
    width: 200%
  }

  /*******************/
  /***** CONTENT *****/
  /*******************/
  #content-container {
    padding: 8px;
  }

  /********************/
  /***** NAV-MINI *****/
  /********************/
  #nav-bar {
    display: none;
  }

  #nav-mini {
    display: initial;
    margin: 8px;

  }

  #nav-mini > button {
    background-color: transparent;
    width: 50px;
    border: none;
    outline: none;
  }

  #nav-mini > button > img {
    width: 100%
  }

  #menu-drawer {
    position: fixed;
    left: -128px;
    transition: 1s;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    /* box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.8); */
  }

  #menu-drawer > a {
    display: block;
    margin: 18px 18px;
  }

  /****************/
  /***** HOME *****/
  /****************/
  #home {
    margin-top: 80px;
  }

  #home > h1 {
    font-size: 7vw;
  }

  #home-2 > h2:not(span) {
    font-size: 4vw;
  }

  #home-2 > h2 > span {
    font-size: 5vw;
  }

  /****************/
  /***** HOME *****/
  /****************/
  #about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-container > h1 {
    text-align: center;
  }

  #profile-img {
    width: 150px;
    margin: 8px 0px;
  }

  #about-container > p {
    font-size: 15px;
    margin-top: 20px;
    padding: 0px 20px;
  }

  #about-container > svg {
    margin-top: 30px;
  }

  /**********************/
  /***** EXPERIENCE *****/
  /**********************/

  #experience-container > h1 {
    text-align: center;
  }

  #tech-experience {
    margin: 18px 8px;
  }

  #tech-experience > div > ul > li {
    color: lightgray;
  }

  #work-experience {
    margin-left: 39px
  }

  .company-details {
    width: 95%;
  }

  .company-details > p:last-child {
    opacity: 100%;
  }

  /********************/
  /***** PROJECTS *****/
  /********************/
  #projects-container {
    padding-bottom: 300px;
    overflow: visible;
  }
}
