/******************/
/***** GLOBAL *****/
/******************/

:root {
  --tiffany: #0ABAB5;
  --deepskyblue: #00CCFF;
}

body {
  background-color: black;
  font-family: Comfortaa;
  padding: 28px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.tiffany {
  color: var(--tiffany);
}

.deepsky {
  color: var(--deepskyblue);
}

.red {
  color: red;
}

/**********************/
/***** BACKGROUND *****/
/**********************/

.background-img {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
  /* opacity: 0%; */
  /* -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; */
}

#nyc {
  opacity: 25%;
}

#redny {
  opacity: 0%;
}

#tokyo {
  opacity: 0%;
}

@keyframes bgTransition {
  0% {
    opacity:0%;
  }
  50% {
    opacity:0%;
  }
  100% {
    opacity:25%;
  }
}

#background-img-container img:nth-child(1) {
  animation-delay: 0s;
  animation-name: bgTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}
#background-img-container img:nth-child(2) {
  animation-delay: 3s;
  animation-name: bgTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}
#background-img-container img:nth-child(3) {
  animation-delay: 6s;
  animation-name: bgTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}

/***************/
/***** NAV *****/
/***************/

#nav-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  text-align: right;
  padding-top: 28px;
  padding-right: 68px;
}

#nav-bar > a {
  display: block;
  margin: 18px 0px;
  font-size: 20px;
}

#nav-bar > a:hover {
  color: var(--deepskyblue)
}

#nav-bar > a:not(:nth-child(1)):hover {
  font-size: 25px;
  margin: -2.5px 0px;
}

#nav-logo {
  font-size: 30px !important;
  font-weight: bold;
}

/*******************/
/***** CONTENT *****/
/*******************/

#content-container {
  height: 80vh;
  margin-right: 300px;
  padding-top: 38px;
  padding-left: 38px;
  padding-bottom: 58px;
  background: transparent;
  fill: none;
}

/****************/
/***** HOME *****/
/****************/
#home {
  padding-top: 50px;
  padding-left: 50px;
}

#home > h1:nth-child(2) {
  margin-left: 20px;
  font-size: 50px;
}

#home-2 {
  text-align: center;
  margin-top: 10vh;
  color: gray;
}

#new-york{
  font-size: 35px;
}

#japan {
  font-size: 35px;
}

/*****************/
/***** ABOUT *****/
/*****************/

#about-container > p{
  font-size: 20px;
  color: lightgray;
}

#profile-img {
  width: 180px;
  float: left;
  margin-right: 20px;
  opacity: 80%;
}

svg {
  /* margin-top: 50px;
  margin-left: 30px; */
  width: 70vw;
  height: 200px;
  margin: 80px auto;
}

rect:hover {
  opacity: 50%;
}
