@media only screen and (max-width:768px){
  /******************/
  /***** GLOBAL *****/
  /******************/
  body {
    padding: 0px;
  }

  /*******************/
  /***** CONTENT *****/
  /*******************/
  #content-container {
    padding: 0px;
  }

  /********************/
  /***** NAV-MINI *****/
  /********************/
  #nav-bar {
    display: none;
  }

  #nav-mini {
    display: initial;
  }

  #menu-drawer {
    position: fixed;
    left: -128px;
    transition: 1s;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.8);
  }

  #menu-drawer > a {
    display: block;
    margin: 8px 18px;
  }
}
