/******************/
/***** GLOBAL *****/
/******************/

:root {
  --tiffany: #0ABAB5;
  --deepskyblue: #00CCFF;
}

body {
  background-color: black;
  font-family: Comfortaa;
  padding: 28px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.tiffany {
  color: var(--tiffany);
}

.deepsky {
  color: var(--deepskyblue);
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.gray-italics {
  color: gray;
  font-style: italic;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\002B";
  color: var(--tiffany);
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
}

/*********************/
/***** ANIMATION *****/
/*********************/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes highlightRed {
  0% {
    color: lightgray;
  }
  50% {
    color: red;
  }
  100% {
    color: lightgray;
  }
}

@keyframes bgTransition {
  0% {
    opacity:0%;
  }
  50% {
    opacity:0%;
  }
  100% {
    opacity:25%;
  }
}

/**********************/
/***** BACKGROUND *****/
/**********************/

.background-img {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -10;
  /* opacity: 0%; */
  /* -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; */
}

#nyc {
  opacity: 25%;
}

#redny {
  opacity: 0%;
}

#tokyo {
  opacity: 0%;
}

#background-img-container img:nth-child(1) {
  animation-delay: 0s;
  animation-name: bgTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
  -webkit-animation-delay: 0s;
  -webkit-animation-name: bgTransition;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  -webkit-animation-direction: alternate;
  -moz-animation-delay: 0s;
  -moz-animation-name: bgTransition;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 6s;
  -moz-animation-direction: alternate;
}
#background-img-container img:nth-child(2) {
  animation-delay: 3s;
  animation-name: bgTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
  -webkit-animation-delay: 3s;
  -webkit-animation-name: bgTransition;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  -webkit-animation-direction: alternate;
  -moz-animation-delay: 3s;
  -moz-animation-name: bgTransition;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 6s;
  -moz-animation-direction: alternate;
}
#background-img-container img:nth-child(3) {
  animation-delay: 6s;
  animation-name: bgTransition;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
  -webkit-animation-delay: 6s;
  -webkit-animation-name: bgTransition;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  -webkit-animation-direction: alternate;
  -moz-animation-delay: 6s;
  -moz-animation-name: bgTransition;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 6s;
  -moz-animation-direction: alternate;
}

/***************/
/***** NAV *****/
/***************/

/* #nav-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 250px;
  text-align: right;
  padding-top: 28px;
  padding-right: 68px;
}

#nav-bar > a {
  display: block;
  margin: 18px 0px;
  font-size: 20px;
  transition: .8s;
}

#nav-bar > a:hover {
  color: var(--deepskyblue);
}

#nav-logo {
  font-size: 30px !important;
  font-weight: bold;
} */

/*******************/
/***** CONTENT *****/
/*******************/

#content-container {
  height: 68vh;
  padding-top: 88px;
  padding-left: 88px;
  padding-right: 88px;
  padding-bottom: 58px;
  background: transparent;
  fill: none;
}

/****************/
/***** HOME *****/
/****************/

#home > h1 {
  animation: fadein 5s;
  text-align: center;
  font-size: 5.8vw;
}

#home-2 {
  text-align: center;
  margin-top: 10vh;
  color: gray;
  animation: fadein 8s;
}

#home-2 > h2:not(span) {
  font-size: 2.3vw;
}

#new-york{
  font-size: 2.7vw;
}

#japan {
  font-size: 2.7vw;
}

/*****************/
/***** ABOUT *****/
/*****************/

#about-container > p{
  font-size: 20px;
  color: lightgray;
  animation: fadein 5s;
}

span {
  transition: 1.8s;
}

#about-container > p > span {
  animation: highlightRed 8s;
  animation-delay: 2s;
}

#about-container > p:hover span {
  color: red;
}

#profile-img {
  width: 180px;
  float: left;
  margin-right: 20px;
  opacity: 50%;
  transition-duration: 1s;
}

#profile-img:hover {
  opacity: 80%;
}

svg {
  width: 70vw;
  height: 200px;
  margin: 80px auto;
}

rect {
  opacity: 60%;
  transition-duration: 1s;
}

rect:hover {
  opacity: 100%;
}

/*********************/
/***** EDUCATION *****/
/*********************/
#education-container {
  padding-bottom: 80px;
}

#education-container > h1 {
  margin-bottom: 0px;
}

.school {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.school:nth-of-type(1) {
  animation: fadein 3s;
}
.school:nth-of-type(2) {
  animation: fadein 6s;
}
.school:nth-of-type(3) {
  animation: fadein 9s;
}

.school-year {
  margin-right: 50px;
}

.school-year > h3 {
  margin-bottom: 0px;
}

.school-details {
  width: 500px;
}

.school-details > h3 {
  color: var(--deepskyblue);
  margin-bottom: 0px;
}

.school-details > h4 {
  margin: 0px;
  margin-top: 5px;
}

.school-details > p {
  margin: 8px;
}

.school-details > p:nth-last-child(1){
  font-size: 12px;
  color: lightgray;
  opacity: 30%;
  transition: 2s;
}

#fullstack:hover #fullstack-details{
  opacity: 100%;
}

#fordham:hover #fordham-details{
  opacity: 100%;
}

#liu:hover #liu-details{
  opacity: 100%;
}

/**********************/
/***** EXPERIENCE *****/
/**********************/
#experience-container {
  padding-bottom: 80px;
}

#experience-container > h1 {
  margin-bottom: 0px;
}

.company {
  margin-top: 35px;
}

.company:nth-of-type(1) {
  animation: fadein 3s;
}
.company:nth-of-type(2) {
  animation: fadein 6s;
}
.company:nth-of-type(3) {
  animation: fadein 9s;
}
.company:nth-of-type(4) {
  animation: fadein 12s;
}

.employed-year > h3 {
  margin-bottom: 0px;
}

.company-details {
  width: 500px;
}

.company-details > h3 {
  color: var(--deepskyblue);
  margin-bottom: 0px;
}

.company-details > h4 {
  margin: 0px;
  margin-top: 5px;
}

.company-details > p {
  margin: 8px;
}

.company-details > p:nth-last-child(1){
  font-size: 12px;
  color: lightgray;
  opacity: 30%;
  transition: 2s;
}

#deutsche:hover #deutsche-details{
  opacity: 100%;
}

#boc:hover #boc-details{
  opacity: 100%;
}

#chase:hover #chase-details{
  opacity: 100%;
}

#td-bank:hover #td-bank-details{
  opacity: 100%;
}

/**********************/
/***** TECH STACK *****/
/**********************/
#experience-wrapper {
  display: flex;
  flex-flow: wrap;
}

#tech-experience {
  margin-top: 50px;
  margin-right: 60px;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid rgba(128, 0, 128, 0.515);
  border-radius: 18px;
  padding: 0px 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}

#tech-experience > div > h2 {
  color: rgba(128, 0, 128, 0.815);
  margin-top: 30px;
  margin-bottom: 5px;
  font-family: 'Comfortaa';
}

#tech-experience:hover li {
  color: white;
}

ul {
  margin-top: 5px;
}

li {
  color: gray;
  transition: 3s;
}

#proficient-container {
  animation: fadein 3s;
}

#knowledge-container {
  animation: fadein 6s;
}


/*******************/
/***** CONTACT *****/
/*******************/

#contact-container {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  transition: 1s;
  animation: fadein 2s;
}

#contact-container > a {
  margin: 50px;
  transition: 1s;
}

#contact-container > a > img {
  opacity: 75%;
  transition: 1s;
}

#contact-container > a > img:hover {
  opacity: 100%;
  cursor: pointer;
}

#contact-container > a:hover {
  cursor: pointer;
}

/********************/
/***** PROJECTS *****/
/********************/

#projects-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 80px;
  overflow: scroll;
  justify-content: center;
}

.project {
  width: 180px;
  height: 180px;
  min-width: 180px;
  /* padding: 8px; */
  margin: 30px;
  /* background-color: rgba(211, 211, 211, 0.566); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.project:hover {
  box-shadow: 3px 3px 8px #0abab483;
}

.project > h2 {
  text-align: center;
}

.project > button {
  font-weight: bold;
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: #86868686;
  animation: fadein 2s;
}

button > span > img {
  width: 100%;
  height: 100%;
  opacity: 50%;
}

button > span > img:hover {
  opacity: 90%;
}

.project > button:hover {
  background-color: #868686;
}

.dialog-link {
  color: rgba(137, 43, 226, 0.527);
}

.dialog-link:hover {
  color: blueviolet;
}

body > div.MuiDialog-root > div.MuiDialog-container.MuiDialog-scrollPaper > div {
  background-color: #c9c9c9;
}

/****************************************/
/***** NAV BAR - HORIZONTAL VERSION *****/
/****************************************/
#nav-mini {
  display: none;
}

#nav-bar {
  text-align: center;
  position: fixed;
  padding-top: 30px;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.910);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.910);
  z-index: 8;
}

#nav-bar > a{
  margin: 0px 2%;
  color: gray;
  transition: 1s;
}

#nav-bar > a:nth-child(1) {
  font-size: 30px;
  display: block;
  margin-bottom: 25px;
  color: white;
}

#nav-bar > a:hover {
  color: var(--deepskyblue);
}
